{% extends "base.html" %}
{% block title %}History{% endblock %}

{% block content %}

<h1 align="center">History</h1>

<table id="days" class="days" align="center">
    <tr id="days-top">
        <th>Days</th>
        <th>Fats</th>
        <th>Protein</th>
        <th>Carbs</th>
    </tr>
    <tr>
        <th>Day 1: 2197 Calories</th>  
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>    
    </tr>
    <tr>
        <th>Day 2: 1979 Calories</th> 
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>
    </tr>
    <tr>
        <th>Day 3: 1999 Calories</th>
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>
    </tr>
    <tr>
        <th>Day 4: 2006 Calories</th>
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>
    </tr>
    <tr>
        <th>Day 5: 1834 Calories</th>
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>
    </tr>
    <tr>
        <th>Day 6: 1934 Calories</th>
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>
    </tr>
    <tr>
        <th>Day 7: 1906 Calories</th>
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>
    </tr>
    <tr>
        <th>Day 8: 2077 Calories</th> 
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>
    </tr>
    <tr>
        <th>Day 9: 1892 Calories</th> 
        <th>33g</th>   
        <th>170g</th>
        <th>100g</th>
    </tr>
</table>
{% endblock %}







